<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shiro.com.example.shiro.UserMapper" >
  <select id="findByUserName" parameterType="java.lang.String" resultType="com.example.shiro.model.User">
    SELECT
    * from user where username=#{userName}
  </select>

  <insert id="InerstUser" parameterType="com.example.shiro.model.User">
    INSERT INTO user (username, password) VALUES (#{username}, #{password});
  </insert>

</mapper>